#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background-color: antiquewhite;
  max-width: 100vw;
}

#screen-container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#screen {
  max-width: 40vw;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.horizontal-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.download-button {
  display: flex;
  color: antiquewhite;
  justify-content: center;
  align-items: center;
  width: 200pt;
  height: 40pt;
  background-color: black;
  /* background-color: #F35C5C; */
  border-radius: 9px;
}